.navbar__container{
  display:flex; 
  justify-content: space-between;
  align-items: center;
}

.menu__container-list.desktop{
  display: none;
}

.navbar__menu{
  background:#fff;
  color:#313131;
  display:none;
  border-radius:10px;
  -webkit-animation: menu 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: menu 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  position: absolute;
  right: 20px;
  z-index: 1000;
  min-width: 230px;
}

.navbar__menu a{
  color:#313131;
  line-height: 41px;
}

.navbar__menu.show{
  display:inline-block;
}


.menu__container{
  background:#fff;
  color:#313131;
  display:inline-block;
  border-radius:10px;
}

 @-webkit-keyframes menu {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.modal__form{
  display:flex;
  flex-direction: column;
}



.menu__container-list{
  padding:20px;
}

.navbar-icon{
  font-size:40px;
  cursor: pointer;
  z-index: 2;
}

.modal__form-btn{
  background-color: #1E5AFA;
  color: white;
  font-size: 20px;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal__form-btn:hover {
  background-color: #4B7BFB;
}

.modal__form input{
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid grey;
  outline: none;
  font-size: 17px;
}

.modal__form label{
  margin-bottom: 10px;
}

.modal__form-container h3{
  text-align: center;
  margin-bottom: 20px;
}

.modal__form-container a{
  color: grey;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
}

.modal__form-container a span{
  color: #1E5AFA;
}

.modal__form-rememberMe {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

.modal__form-links{
  display:flex;
  justify-content: space-between;
}

.ReactModal__Overlay{
  z-index: 2;
  background-color: rgba(40,40,40, 0.85)!important;
}

@media only screen and ( min-width: 990px) {
  .navbar-icon{
    display:none;
  }

  .navbar a{
    color: #fff;
  }

  .menu__container-list.desktop{
    display: flex;
    align-items: center;
  }

  .menu__container-list.top.desktop li{
    margin-right: 30px;
    z-index: 2;
    cursor: pointer;
  }

  .menu__container-list.bottom.desktop li{
    margin-left: 10px;
  }

  .navbar__menu.show{
    display:none;
  }

  .navbar__menu-btn{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
  }

  .navbar__menu-btn.login{
    display: block;
  }

  .navbar__menu-btn.signup{
    background-color: #fff;
    color:#011037;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    top: 0;
    transition: top ease 0.25s;
  }

  .navbar__menu-btn.signup:hover{
   top: -5px;
  }
  .menu__container-list.top.desktop a, a.navbar__menu-btn.login{
    position: relative;
  }
  .menu__container-list.top.desktop a:after, a.navbar__menu-btn.login:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    background-color: #fff;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .menu__container-list.top.desktop a:hover:after, 
  .menu__container-list.top.desktop a:focus:after,
  a.navbar__menu-btn.login:hover:after, 
  a.navbar__menu-btn.login:focus:after{
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}