.container{
  max-width: 1200px;
  padding: 0 20px;
  margin:auto;
  position: relative;
}

h3{
  color: #000F37;
  font-size: 35px;
}

@media only screen and ( min-width: 990px) {
  h3{
    font-size: 46px;
    text-align: left;
  }
}