*{
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  font-size: 18px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

:root {
  --color-bg:#1E5AFA;
  --color-header: #fff;
}

.spacing-padding{
  padding: 0 100px;
}


