.footer .logo-container{
  position:static;
  text-align: center;
}

.footer {
  color: #575757;
  padding-top:40px;
}

.footer .logo a{
  color: #313131;
}

.footer__email button{
  border: 1px solid #011037;
  color: #011037;
  outline: none;
  padding: 15px 25px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}

.footer__email button:hover{
  background-color: #000F37;
  color: #FAFAFA;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}

.footer__email{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:30px;
}

.footer h4{
  color:#2e2e2e;
  font-size: 24px;
  padding-bottom:20px;
}

.footer .logo-container{
  padding-bottom: 20px;
}

.footer__col{
  padding-bottom:30px;
  text-align: center;
}

.footer__col p{
  line-height: 24px;
}

.footer__col {
  line-height: 34px;
}

.footer__col li{
  transition: all .3s;
  cursor: pointer;
}

.footer__col li:hover{
  color: #000;
}

.footer__copyright{
  background-color: #000F37;
  text-align: center;
  padding: 20px;
  color: #fafafa;
  margin-top:20px;
}

@media only screen and (min-width: 990px){
  .footer__row{
    display: flex;
    justify-content: space-between;
  }

  .footer__col.logo__col{
    width: 30%;
  }

  .footer__col{
    width: 15%;
    text-align: left;
  }

  .footer__email{
    justify-content: space-between;
  }

  .footer .logo-container {
    text-align: left;
  }

  .footer {
    padding-top:80px;
  }

  .footer__copyright{
    margin-top:40px;
  }
}